* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

nav {
  /* background-color: aqua; */
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* max-width: 80vw; */
}

.icon {
  width: 30px;
  height: 30px;
  /* margin: 0 10px; */
}

.logo {
  box-sizing: border-box;
}

ul {
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  /* margin: 0px 15px; */
  border-radius: 5px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 4px 7px;
  transition: 0.3s;
  /* width: auto; */

}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;

}

.avatar img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

nav ul li a:hover {
  background-color: #c4c4c436;
}

section {
  width: 100%;
  min-height: 500px;
  /* min-height: 100vh; */
  position: relative;
  overflow: hidden;
}

 section video {
  position: absolute;
  left: 0;
  top: 0; 
  height: 100%;
  z-index: -1;
  overflow: visible;

} 


@media (max-width:1024px) {
  .avatar p {
    display: none;
  }

  .avatar {
    width: auto;
  }
}